label, select, input{
  font-size: 30px;
  width: 300px;
  display: inline-block;
  margin: 5px 0;
  color: whitesmoke;
}

label {
  padding-left: 30%;
}

h1 {
  text-align: center;
  padding-bottom: 3%;
  padding-top: 2%;
  color: rebeccapurple;
}

.div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  font-size: 30px;
}

#gen {
  border: solid;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  background: slategrey;
}

input, select {
  background: black;
  color: whitesmoke;
}

button {
  width: 13%;
  font-size: 20px;
}